<template>
	<div class="billing-content">
    <div class="split-content">
      <div class="module">
        <subscription/>
      </div>
      <div class="module">
        <card/>
      </div>
    </div>
	</div>
</template>

<script>
// Import Components
import Subscription from '@/components/billing/subscription/Subscription'
import Card from '@/components/billing/card/Card'

// Import Icons
import '@/assets/svg'

// Vue Instance for Component
export default {
  components: {
    'subscription': Subscription,
    'card': Card
  },
  created: function () {},
  data: function () {
    return {}
  },
  computed: {},
  methods: {},
  filters: {}
}
</script>

<style lang="scss">
  .split-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .module {
      width: 48%;

      .title {
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        color: #B2B2B2;
        padding: 0 0 25px 0;        
      }
      .summary {
        border: 1px solid #D9D9D9;
        border-radius: 5px;
        margin-bottom: 25px;
        padding: 10px 35px 35px 35px;

        .row {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          margin: 15px 0;

          .key { width: 40%; }
          .value {
            width: 60%;
            padding-left: 20px;
            color: #A4A4A4;
            text-align: left;

            &.highlight {
              color: #9A94E8;
              font-weight: 600;
            }
          }
        }
      }
      .controllers {
        display: flex;
        justify-content: flex-start;

        .create,
        .update,
        .delete
        {
          display: flex;
          justify-content: center;
          align-items: middle;
          text-decoration: none;
          margin-right: 50px;

          .svg-icon { margin-right: 13px; }
          .text {
            font-family: "Open Sans";
            text-transform: uppercase;
            font-weight: 400;
            font-size: 15px;
          }
        }
        .create {
          .svg-icon { width: 15px; height: 15px; fill: #7BCF48; transform: rotate(45deg); margin-top: 3px; }
          .text { color: #8FD068; }
        }
        .update {
          .svg-icon { width: 20px; height: 20px; fill: #70C040; }
          .text { color: #70C040; }
        }
        .delete {
          .svg-icon { width: 17px; height: 17px; fill: #EF7171; }
          .text { color: #EF7171; }
        }
      }
    }    
  }
</style>