<template>
  <div class="profile-content">
    <form @submit.prevent="submitForm(model)">
      <fieldset>
        <legend>General</legend>
        <div class="form-field-wrap">
          <input id="user-name" class="form-field" type="text" v-model="model.name" placeholder="Name">
          <span class="field-desc">You name as it is stored in our records.</span>
        </div>
        <div class="form-field-wrap">
          <input id="user-email" class="form-field" type="text" v-model="model.email" placeholder="Email">
          <span class="field-desc">You email address, we'll use it for primary communication.</span>
        </div>
      </fieldset>

      <fieldset>
        <legend>Password</legend>
        <div class="form-field-wrap">
          <input id="password-current" class="form-field" type="password" v-model="model.password_current" placeholder="Current Password">
          <span class="field-desc">Enter your current password if you intend to change it.</span>
        </div>
        <div class="form-field-wrap">
          <input id="password" class="form-field" type="password" v-model="model.password" placeholder="New Password">
          <span class="field-desc">Enter your new password.</span>
        </div>
        <div class="form-field-wrap">
          <input id="password-confirmation" class="form-field" type="password" v-model="model.password_confirmation" placeholder="Confirm Password">
          <span class="field-desc">Enter you new password again to make sure you've not mistyped.</span>
        </div>
      </fieldset>

      <input type="submit" value="Save Changes">
    </form>
  </div>
</template>

<script>
// Vue Instance for Component
export default {
  created: function () {
    if (Object.keys(this.profile).length === 0) {
      this.$store.dispatch('getProfile') // 01 # dispacth a call to retrieve profile on load
    }
  },
  data: function () {
    return {}
  },
  computed: {
    profile () {
      return this.$store.getters.profile // 02 # grabs 'profile' from local state (when loaded)
    },
    model () {
      return Object.assign({}, this.profile) // 03 # bind 'form' with local state
    }
  },
  methods: {
    submitForm: function (model) {
      this.$store.dispatch('updateProfile', model) // 04 # dispatch action to update DB and local state
    }
  }
}
</script>

<style lang="scss">
</style>