/*------------------------------------------------------------------
[Master Stylesheet]

Project:    Capstone
Version:    1.0
Author:     Faisal Khurshid
Author URI:   http://capstone.io/
-------------------------------------------------------------------*/


/*========================================================
  0.  TYPOGRAPHY 
========================================================== */

  // Google Fonts
  @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,500,600,700,800);
  
  // Font Variables
  $primary-font-stack:    'Open Sans', sans-serif;
  $secondary-font-stack:  'Lato', sans-serif;


/*========================================================
  0.  STYLES 
========================================================== */

  // Scaffolding
  @import 'forms';
