<template>
  <section class="usage-content">
    <usage-status/>
    <hr>
    <h2 class="section-title">Earn Space</h2>
    <share-boxes/>
  </section>
</template>

<script>
// Import Components
import UsageStatus from './child/UsageStatus.vue'
import ShareBoxes from './child/ShareBoxes.vue'

// Vue Instance for Component
export default {
  components: {
    'usage-status': UsageStatus,
    'share-boxes': ShareBoxes
  },
  created: function () {
    if (Object.keys(this.authorizations).length === 0) {
      this.$store.dispatch('getAuthorizations') // 01 # dispacth a call to retrieve 'authorizations' on first load only
    }
  },
  computed: {
    authorizations () {
      return this.$store.getters.authorizations // 02 # grabs 'authorizations' from local state (when loaded)
    }
  }
}
</script>

<style lang="scss" scoped>

  hr {
    border: 1px solid #EBEBEC;
    margin: 70px 0;
  }

</style>