<template>
  <section>
    <!-- Modal Component -->
    <modal ref="modalSubscription" title="Delete Subscription" :method="removeSubscription">
      Do you really want to unsubsribe from this plan? Doing so will limit your access.
    </modal>

    <!-- Subscription Module -->
    <main class="subscription-module">
      <h3 class="title">Subscription</h3>
      <div class="summary">
        <template v-if="hasSubscription">
          <div class="row">
            <div class="key">Subscription Plan:</div>
            <div class="value highlight">{{ subscription.plan.name }}</div>
          </div>
          <div class="row">
            <div class="key">Active Untill:</div>
            <div class="value">{{ subscription.current_period_end | date }}</div>
          </div>
        </template>
        <template v-else>
          <p>It seems you are not subscribed to any plan.</p>
        </template>
      </div>
      <div class="controllers">
        <a href="#" class="create" v-if="!hasSubscription">
          <svgicon name="close"/></svgicon>
          <span class="text">Subscribe Plan</span>
        </a>          
        <a href="#" class="update" v-if="hasSubscription">
          <svgicon name="update"/></svgicon>
          <span class="text">Update Plan</span>
        </a>
        <a href="#remove-subscription" class="delete" @click.prevent="openModalSubscription" v-if="hasSubscription">
          <svgicon name="close"></svgicon>
          <span class="text">Unsubscribe</span>
        </a>
      </div>
    </main>
  </section>
</template>

<script>
// Import Libraries
import moment from 'moment'

// Import Components
import Modal from '@/components/modal/Modal'

// Import Icons
import '@/assets/svg'

// Vue Instance for Component
export default {
  components: {
    'modal': Modal
  },
  created: function () {
    if (!this.hasSubscription) {
      this.$store.dispatch('getSubscription') // 01 # dispacth a call to retrieve subscription on load
    }
  },
  data: function () {
    return {}
  },
  computed: {
    subscription () {
      return this.$store.getters.subscription // 02 # grabs 'subscription' from local store (when loaded)
    },
    hasSubscription () {
      return Object.keys(this.subscription).length !== 0 // 00 # check if local store has 'subscription' data
    }
  },
  methods: {
    openModalSubscription () {
      this.$refs.modalSubscription.open() // refrence (ref="modal") to an element: https://goo.gl/Ncscji
    },
    removeSubscription () {
      this.$refs.modalSubscription.close()
      console.log('Removing Subscription ...')
      this.$store.dispatch('deleteSubscription') // initiate 'delete subscription' process
    }
  },
  filters: {
    date: function (date) {
      return moment(date * 1000).format('D MMMM YYYY')
    },
    month: function (month) {
      return moment(month, 'MM').format('MMMM')
    }
  }
}
</script>


<style lang="scss" scoped>
</style>