<template>
  <section id="site-body">
    <section-header/>
    <transition name="fade">
      <router-view/>
    </transition>
  </section>
</template>

<script>
// Import Components
import SectionHeader from './child/SectionHeader.vue'

export default {
  components: {
    'section-header': SectionHeader
  }
}
</script>

<style lang="scss">
  #site-body {
    flex-grow: 1;
    padding: 30px 70px 60px 70px;
    font-family: "Open Sans";
  }

  // Enter/Exit Transitions
  .fade-enter-active, .fade-leave-active {
    transition-property: opacity;
    transition-duration: .25s;
  }
  .fade-enter-active {
    transition-delay: .25s;
  }
  .fade-enter, .fade-leave-active {
    opacity: 0
  }
</style>