<template>
	<nav class="logout-link">
		<router-link :to="{ name: 'logout' }" active-class="active" exact>
			<svgicon name="sign-out"></svgicon>
		</router-link>
	</nav>
</template>

<script>
// Import Icons
import '@/assets/svg'

// Vue Instance for Component
export default {}
</script>

<style lang="scss">
	.logout-link {
		position: absolute;
		top: 30px;
		right: 30px;

		a {
			display: inline-block;
			.svg-icon { width: 23px; height: 23px; fill: #000;}
		}
	}
</style>