<template>
	<div class="themes-content">
		<div class="themes-grid">
      <template v-for="theme in themes">
        <theme v-bind="theme" />
      </template>
    </div>
	</div>
</template>

<script>
// Import Components
import Theme from './child/Theme.vue'

// Vue Instance for Component
export default {
  components: {
    'theme': Theme
  },
  created: function () {
    if (!this.hasThemes) {
      this.$store.dispatch('getThemes') // 01 # dispacth a call to retrieve 'authorizations' on first load only
    }
  },
  computed: {
    themes () {
      return this.$store.getters.themes // 02 # grabs 'authorizations' from local state (when loaded)
    },
    hasThemes () {
      return Object.keys(this.themes).length !== 0 // 00 # check if local store has 'card' data
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '../../styles/main'; // Import Common Styles

  .themes-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
</style>