<template>
  <div class="share-modules">
    <template v-for="box in boxes">
      <share-box :action="box.action" :title="box.title" :desc="box.desc" :icon="box.icon"/>
    </template>
  </div>
</template>

<script>
// Import Components
import ShareBox from './partials/ShareBox.vue'

// Vue Instance for Component
export default {
  components: {
    'share-box': ShareBox
  },
  computed: {
    boxes () {
      return [
        { action: 'facebook_post', title: 'Share on Facebook', icon: 'facebook.svg', desc: 'Make a tweet about Capstone and Earn 2 projects, 1 page, 10 images' },
        { action: 'twitter_tweet', title: 'Tweet about Capstone', icon: 'twitter.svg', desc: 'Share your love for Capstone and Earn 2 projects, 1 page, 10 images' },
        { action: 'twitter_follow', title: 'Follow us on Twitter', icon: 'twitter.svg', desc: 'Make a tweet about Capstone and Earn 2 projects, 1 page, 10 images' },
        { action: 'facebook_like', title: 'Like us on Facebook', icon: 'facebook.svg', desc: 'Share your love for Capstone and Earn 2 projects, 1 page, 10 images' },
        { action: 'friend_refer', title: 'Refer your Friends', icon: 'friend.svg', desc: 'Spread the word to your friends, family and coworkers' }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>

  .share-modules {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

</style>