<template>
  <transition name="fade">
    <div class="usage-status">
      <template v-for="bar in bars">
        <progress-bar :title="bar.title" :value="bar.value" :progress="bar.progress"/>
      </template>
    </div>
  </transition>
</template>

<script>
// Import Components
import ProgressBar from './partials/ProgressBar.vue'

// Vue Instance for Component
export default {
  components: {
    'progress-bar': ProgressBar
  },
  data: function () {
    return {}
  },
  computed: {
    bars () {
      const currentPages = 3
      const currentPortfolio = 5
      const currentMedia = 25

      const pageLimit = this.$store.getters.authorizations.page_limit
      const portfolioLimit = this.$store.getters.authorizations.portfolio_limit
      const mediaLimit = this.$store.getters.authorizations.media_limit

      return [
        {
          title: 'Pages',
          value: `${currentPages} of ${pageLimit}`,
          progress: Math.round((currentPages / pageLimit) * 100)
        },
        {
          title: 'Portfolio',
          value: `${currentPortfolio} of ${portfolioLimit}`,
          progress: Math.round((currentPortfolio / portfolioLimit) * 100)
        },
        {
          title: 'Media',
          value: `${currentMedia} of ${mediaLimit}`,
          progress: Math.round((currentMedia / mediaLimit) * 100)
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>

  .usage-status {}

</style>