<template>
  <section>
    <!-- Modal Component -->
    <modal ref="modalCard" title="Remove Card" :method="removeCard">
      Do you really want to delete your card? You'll not be able to resubscribe after period end.
    </modal>

    <!-- Card Module -->
    <main class="card-module">
      <h3 class="title">Card Info</h3>
      <div class="summary">
        <template v-if="hasCard">
          <div class="row">
            <div class="key">Card Holder:</div>
            <div class="value highlight">{{ card.name }}</div>
          </div>
          <div class="row">
            <div class="key">Card Number:</div>
            <div class="value">**** **** **** {{ card.last4 }}</div>
          </div>
          <div class="row">
            <div class="key">Expires On:</div>
            <div class="value">{{ card.exp_month | month }} {{ card.exp_year }}</div>
          </div>
        </template>
        <template v-else>
          <p>It seems you have not added any card.</p>
        </template>          
      </div>
      <div class="controllers">
        <a href="#" class="create" v-if="!hasCard">
          <svgicon name="close"/></svgicon>
          <span class="text">Add Card</span>
        </a>          
        <a href="#" class="update" v-if="hasCard">
          <svgicon name="update"/></svgicon>
          <span class="text">Update Card</span>
        </a>
        <a href="#remove-card" class="delete" @click.prevent="openModalCard" v-if="hasCard">
          <svgicon name="close"></svgicon>
          <span class="text">Remove Card</span>
        </a>
      </div>
    </main>
  </section>
</template>

<script>
// Import Libraries
import moment from 'moment'

// Import Components
import Modal from '@/components/modal/Modal'

// Import Icons
import '@/assets/svg'

// Vue Instance for Component
export default {
  components: {
    'modal': Modal
  },
  created: function () {
    if (!this.hasCard) {
      this.$store.dispatch('getCard') // 01 # dispacth a call to retrieve card on load
    }
  },
  data: function () {
    return {}
  },
  computed: {
    card () {
      return this.$store.getters.card // 02 # grabs 'subscription' from local store (when loaded)
    },
    hasCard () {
      return Object.keys(this.card).length !== 0 // 00 # check if local store has 'card' data
    }
  },
  methods: {
    openModalCard () {
      this.$refs.modalCard.open()
    },
    removeCard () {
      this.$refs.modalCard.close()
      console.log('Removing Card ...')
      this.$store.dispatch('deleteCard') // initiate 'delete card' process
    }
  },
  filters: {
    date: function (date) {
      return moment(date * 1000).format('D MMMM YYYY')
    },
    month: function (month) {
      return moment(month, 'MM').format('MMMM')
    }
  }
}
</script>


<style lang="scss" scoped>
</style>