<template>
  <section class="modal-overlay" :class="{ 'is-visible': visible }" v-show="is_open">
    <div class="modal-box">
      <header>
        <h4 class="title">{{ title }}</h4>
        <a href="#close" @click.prevent="close" class="close">
          <svgicon name="close"/></svgicon>
        </a>
      </header>
      <main class="content">
        <p><slot></slot></p>
      </main>
      <footer>
        <a href="#confirm" @click.prevent="method" class="button confirm" :class="[buttonColor]">{{ buttonText }}</a>
        <a href="#cancel" @click.prevent="close" class="button cancel">Cancel</a>
      </footer>
    </div>    
  </section>
</template>

<script>
// Import Icons
import '@/assets/svg'

export default {
  name: 'Modal',
  props: {
    title: {
      type: String,
      required: true,
      default: ''
    },
    buttonColor: {
      type: String,
      required: false,
      default: 'red'
    },
    buttonText: {
      type: String,
      required: false,
      default: 'Confirm'
    },
    method: {
      required: true,
      default: ''
    }
  },
  data: function () {
    return {
      visible: false,
      is_open: false
    }
  },
  methods: {
    open () {
      console.log('Opening Modal ...')
      this.is_open = true
      setTimeout(() => (this.visible = true), 30)
      this.$emit('open') // triggers an event named `open`
    },
    close () {
      console.log('Closing Modal ...')
      this.visible = false
      setTimeout(() => (this.is_open = false), 300)
      this.$emit('close') // triggers an event named `close`
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '../../styles/main'; // Import Common Styles

  .modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    z-index: 9001;

    font-size: 14px;

    -webkit-font-smoothing: antialiased;

    background: rgba(#fff, 0.9);

    // Animation
    opacity: 0;
    transition: opacity 0.3s;
    transform: translate3D(0, 0, 0);
    -webkit-perspective: 500px;

    &.is-visible {
      opacity: 1;
    }

  }

  .modal-box {
    padding: 30px 40px 38px 40px;
    width: 460px;
    max-height: 250px;
    background: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 5px;

    header {
      position: relative;

      .title {
        margin-top: 0;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        color: #B2B2B2;
      }
      .close {
        position: absolute;
        top: 0;
        right: 0;

        .svg-icon {
          width: 16px;
          height: 16px;
        }
      }
    }
    main.content {
      font-size: 16px;
      line-height: 1.7;
      color: #1D1D1D;
      margin: 25px 0;
    }
    footer {
      margin-top: 30px;

      .button {
        display: inline-block;
        font-size: 14.5px;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.1px;

        &.confirm {
          color: #fff;
          padding: 10px 22px;
          border-radius: 3px;
          margin-right: 20px;

          &.red { background: #FF5A5A; }
          &.green { background: #8FD068; }
        }
        &.cancel {
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
</style>
