<template>
  <div class="section-header">
    <h2 class="page-title">{{ pageTitle }}</h2>
    <div class="flash-errors">
      <div class="message error" v-for="error in errors">
        {{ error }}
      </div>
    </div>    
  </div>
</template>

<script>
export default {
  computed: {
    pageTitle: function () {
      return this.$route.meta.title
    },
    errors () {
      return this.$store.getters.errors // grabs 'flashMessages' from local state (when loaded)
    }
  }
}
</script>


<style lang="scss">

  .page-title,
  .section-title
  {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 60px;
  }

  .flash-errors {
    margin-bottom: 45px;

    .notice {
      padding: 15px 25px;
      background: #EAF6FB;
      color: #28A8D3;
      font-size: 16px;
      border-radius: 3px;
    }
    .error {
      padding: 15px 25px;
      background: #fbeaea;
      color: #ec4a4a;
      font-size: 16px;
      border-radius: 3px;
    }

  }

</style>