<template>
  <div class="admin-root">
    <admin-sidebar></admin-sidebar>
    <admin-body></admin-body>
    <admin-header></admin-header>
  </div>
</template>

<script>
// Import Components
import Sidebar from './scaffolding/Sidebar.vue'
import Body from './scaffolding/Body.vue'
import Header from './scaffolding/Header.vue'

// Vue Instance for Component
export default {
  components: {
    'admin-sidebar': Sidebar,
    'admin-body': Body,
    'admin-header': Header
  }
}
</script>

<style lang="scss">
  @import '../styles/main'; // Import Common Styles
  
  body { margin: 0; }
  * { box-sizing: border-box; }
  
  .admin-root {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
  }

</style>