<template>
  <div class="login-page">
    <div class="content">
      <div id="site-logo">
        <router-link :to="{ name: 'admin' }" active-class="active" exact><a><img src="../../assets/logo-full.png"></a></router-link>
      </div>          
      <h3 class="title">Sign in to your account</h3>

      <div class="flash-errors">
        <div class="message error" v-for="error in errors">
          {{ error }}
        </div>
      </div>    

      <form @submit.prevent="submitForm(model)">
        <fieldset>
          <div class="form-field-wrap">
            <input id="email" class="form-field" type="text" v-model="model.email" placeholder="Email Address">
          </div>
          <div class="form-field-wrap">
            <input id="password" class="form-field" type="password" v-model="model.password" placeholder="Password">
          </div>
        </fieldset>
        <input type="submit" value="Sign In">
      </form>
    </div>
  </div>
</template>

<script>
// Vue Instance for Component
export default {
  created: function () {},
  data: function () {
    return {}
  },
  computed: {
    model () {
      return {
        email: '',
        password: ''
      }
    },
    errors () {
      return this.$store.getters.errors // grabs 'flashMessages' from local state (when loaded)
    }
  },
  methods: {
    submitForm: function (model) {
      this.$store.dispatch('authenticateLogin', model) // 01 # dispatch action to authenticate submitted credentials
    }
  }
}
</script>

<style lang="scss">
  // Import Common Styles
  @import '../../styles/main';

  // Component Specific Styles
  .login-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
      width: 435px;

      #site-logo { text-align: center; }
      .title {
        font-family: $primary-font-stack;
        font-size: 22px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 60px;
      }
      form fieldset .form-field-wrap { width: 435px; }
      input[type="submit"] { width: 100%; margin: 0; }
    }
  }

  .flash-errors {
    font-family: $primary-font-stack;
    margin-bottom: 45px;

    .notice {
      padding: 15px 25px;
      background: #EAF6FB;
      color: #28A8D3;
      font-size: 16px;
      border-radius: 3px;
    }
    .error {
      padding: 15px 25px;
      background: #fbeaea;
      color: #ec4a4a;
      font-size: 16px;
      border-radius: 3px;
    }

  }


</style>