<template>
  <div class="app-root">
  	<vue-progress-bar/>
    <router-view/>
  </div>
</template>

<script>
// Vue Instance for Component
export default {
  name: 'app',
  created () {
    this.$Progress.start()
  },
  mounted () {
    this.$Progress.finish()
  }
}
</script>

<style lang="scss">
  body { margin: 0; }

  .app-root {
    display: flex;
    justify-content: flex-start;
  }
</style>