<template>
  <div class="theme" :class="{ active: isActive }">
    <div class="screenshot">
      <img :src="screenshotURL">
    </div>
    <div class="details">
      <div class="text">
        <h4 class="name">{{ name }}</h4>
        <a class="preview" href="#">Live Demo</a>
      </div>
      <div class="controller">
        <a class="button" v-if="active === 'true'" href="#customize-theme">Customize</a>
        <a class="button" v-else @click.prevent="activateTheme(slug)" href="#activate-theme">Activate</a>
      </div>
    </div>
  </div>
</template>

<script>
// Vue Instance for Component
export default {
  props: ['name', 'slug', 'version', 'author', 'preview', 'active', 'url'],
  computed: {
    isActive () {
      return this.active === 'true'
    },
    screenshotURL () {
      return this.url + '/screenshot.png'
    }
  },
  methods: {
    activateTheme (name) {
      this.$store.dispatch('updateThemes', {name}) // 04 # dispatch action to update DB and local state
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '../../../styles/main'; // Import Common Styles

  .theme {
    width: 31%;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 8px;
    transition: all 300ms ease-in-out;

    &.active {
      background: #8FD068;
      border: 1px solid #8FD068;

      .name { color: #FFF; }
      .preview { color: rgba(255, 255, 255, 0.6); }
    }

    .screenshot {
      img { max-width: 100%; }
    }

    .details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 10px;

      .text { width: 40%; }
      .controller { width: 50%; text-align: right; }
      .button { border: 1px solid #fff; }
    }

    .name {
      font-family: $primary-font-stack;
      font-size: 17.5px;
      font-weight: 400;
      margin: 0;
    }
    .preview {
      font-family: $primary-font-stack;
      font-size: 14px;
      font-weight: 400;
      color: #ACACAC;
      text-decoration: none;
    }
    .button {
      font-family: $primary-font-stack;
      font-size: 15px;
      background: #8FD068;
      color: #FFF;
      border: 1px solid #8FD068; 
      border-radius: 3px;
      padding: 8px 20px;
      text-decoration: none;
    }  
  }
</style>