<template>
  <section class="settings-content">
    <form @submit.prevent="submitForm(model)">
      <fieldset>
        <legend>General</legend>
        <div class="form-field-wrap">
          <input id="site-title" class="form-field" type="text" v-model="model.site_title" placeholder="Site Title">
          <span class="field-desc">Used as your site logo.</span>
        </div>
        <div class="form-field-wrap">
          <textarea id="site-desc" class="form-field" rows="3" v-model="model.site_desc" placeholder="Site Description"></textarea>
          <span class="field-desc">This is the text that search engines use as yoursite's description.</span>
        </div>
      </fieldset>

      <fieldset>
        <legend>Domain</legend>
        <div class="form-field-wrap">
          <span class="field-mask">.capstone.com</span>
          <input id="site-subdomain" class="form-field" type="text" v-model="model.site_subdomain" placeholder="Site Subdomain">
          <span class="field-desc">By default this address will be used to access your site.</span>
        </div>
        <div class="form-field-wrap">
          <input id="custom-url" class="form-field" type="text" v-model="model.custom_url" placeholder="Custom URL">
          <span class="field-desc">Link your own custom domain.</span>
        </div>
      </fieldset>

      <fieldset>
        <legend>Privacy &amp; Analytics</legend>
        <div class="form-field-wrap">
          <input class="form-field" id="site-password" type="password" v-model="model.password" placeholder="Site Password">
          <span class="field-desc">Control who sees your amazing work with a handy dandy access code.</span>
        </div>
        <div class="form-field-wrap">
          <input id="google-analytics" class="form-field" type="text" v-model="model.google_analytics" placeholder="Google Analytics">
          <span class="field-desc">Track who’s checking out your portfolio by adding Google Analytics.</span>
        </div>
      </fieldset>

      <input type="submit" value="Save Changes">
    </form>
  </section>
</template>

<script>
// Vue Instance for Component
export default {
  created: function () {
    if (Object.keys(this.settings).length === 0) {
      this.$store.dispatch('getSettings') // 01 # dispacth a call to retrieve settings on load
    }
  },
  data: function () {
    return {}
  },
  computed: {
    settings () {
      return this.$store.getters.settings // 02 # grabs 'settings' from local state (when loaded)
    },
    model () {
      return Object.assign({}, this.settings) // 03 # bind 'form' with local state
    }
  },
  methods: {
    submitForm: function (model) {
      this.$store.dispatch('updateSettings', model) // 04 # dispatch action to update DB and local state
    }
  }
}
</script>

<style lang="scss">
</style>